<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">About Us</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div><img src="{{Banner2}}" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>ABOUT US</span></h2>
    <hr>
    <div style="padding:0 20px">
        <div ng-bind-html="auPage | to_trusted"></div>
    </div>
    <hr>
    <ons-list>
        <ons-list-item onclick="myNavigator.pushPage('views/join/silver_gold.html', { animation : 'lift' } )">
            <div class="left">
                <img src="images/Mahala_funeral.jpg">
            </div>
            <div class="center">
                <span class="list-item__subtitle">Funeral Cover with many added benefits from only R88 pm.</span>
            </div>
            <div class="right">
                <ons-icon icon="md-caret-right" class="list-item__icon" style="color:rgb(206, 40, 44);"></ons-icon>
            </div>
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/workers.html', { animation : 'lift' } )">
            <div class="left">
                <img src="images/Mahala_Workers.jpg">
            </div>
            <div class="center">
                <span class="list-item__subtitle">Family Funeral Cover with unique benefits for employees from only R99 pm.</span>
            </div>
            <div class="right">
                <ons-icon icon="md-caret-right" class="list-item__icon" style="color:rgb(206, 40, 44);"></ons-icon>
            </div>
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/health.html', { animation : 'lift' } )">
            <div class="left">
                <img src="images/Mahala_health.jpg">
            </div>
            <div class="center">
                <span class="list-item__subtitle">Affordable Medical Insurance to all South Africans from only R322 pm.</span>
            </div>
            <div class="right">
                <ons-icon icon="md-caret-right" class="list-item__icon" style="color:rgb(206, 40, 44);"></ons-icon>
            </div>
        </ons-list-item>
    </ons-list>
    <div style="padding:0 20px">
        <p style="text-align: justify;">Mahala has developed creative lifestyle products for your convenience and protection. Click on the icon below to view our unique solutions to the problems South Africans face every day!</p>
    </div>
    <ons-list>
        <ons-list-item onclick="myNavigator.pushPage('views/join/travel.html', { animation : 'lift' } )">
            <div class="left">
                <img src="images/Mahala_travel.jpg">
            </div>
            <div class="center">
                <span class="list-item__subtitle">One-stop travel shop that gives you up to 30% discount on all travel, from only R60 pm.</span>
            </div>
            <div class="right">
                <ons-icon icon="md-caret-right" class="list-item__icon" style="color:rgb(206, 40, 44);"></ons-icon>
            </div>
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/charity.html', { animation : 'lift' } )">
            <div class="left">
                <img src="images/Mahala_Charity.jpg">
            </div>
            <div class="center">
                <span class="list-item__subtitle">EMERGENCY FOOD RELIEF delivered to anyone, anywhere in South Africa</span>
            </div>
            <div class="right">
                <ons-icon icon="md-caret-right" class="list-item__icon" style="color:rgb(206, 40, 44);"></ons-icon>
            </div>
        </ons-list-item>
    </ons-list>
    <div style="padding:0 20px"><a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a></div>
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.resetToPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>