<ons-page>
    <ons-toolbar>
        <div class="center">Welcome</div>
        <div ng-show="loggedIn">
            <div class="right">
                <ons-toolbar-button ng-click="menu.toggle()">
                    <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
                </ons-toolbar-button>
            </div>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <ul style="list-style-type: none; margin: 0;">
            <li id="1" class="hideable" style="display: block;"><div class="imgBlock"><img src="images/app_header1.png" style="max-width: 800px; width: 100%;" /></div></li>
            <li id="2" class="hideable" style="display: none;"><div class="imgBlock"><img src="images/app_header2.png" style="max-width: 800px; width: 100%;" /></div></li>
            <li id="3" class="hideable" style="display: none;"><div class="imgBlock"><img src="images/app_header3.png" style="max-width: 800px; width: 100%;" /></div></li>
        </ul>
    </div>
    <ons-list class="dropShadow">
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/wantToJoin.html', { animation : 'slide' } )">
            PRODUCT / SERVICES
        </ons-list-item>
        <div ng-hide="loggedIn">
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/login.html', { animation : 'slide' } )">
                LOYALTY LOGIN
            </ons-list-item>
        </div>
        <div ng-show="loggedIn">
            <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/welcome.html', { animation : 'slide' } )">
                MEMBERS AREA
            </ons-list-item>
            <ons-list-item modifier="chevron" ng-click="logout()">
                LOG OUT
            </ons-list-item>
        </div>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/howItWorks.html', { animation : 'slide' } )">
            HOW DOES LOYALTY WORK?
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/partners.html', { animation : 'slide' } )">
            PARTNERS / RETAILERS
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/contactUs.html', { animation : 'slide' } )">
            CONTACT US
        </ons-list-item>
    </ons-list>
</ons-page>
