<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">How it works</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <img src="images/how_it_works.jpg" style="max-width: 800px; width: 100%;"  onclick="window.open('https://youtu.be/CmPbFxai6aw','_system','')" />
</ons-page>