<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Login</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="imgBlock hideableL" style="display: block;"><img src="images/app_header1.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableL" style="display: none;"><img src="images/app_header2.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableL" style="display: none;"><img src="images/app_header3.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableL" style="display: none;"><img src="images/app_header4.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableL" style="display: none;"><img src="images/app_header5.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideableL" style="display: none;"><img src="images/app_header6.png" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <div class="formShadow">
        <div class="formList">
            <div class="formListLable">LOYALTY / CELL NO:</div><div class="formListInput"><input ng-model="data.loyaltyNum" type="text" class="text-input" placeholder="Loyalty / Cell Number" /></div>
        </div>
        <div class="formList">
            <div class="formListLable">PASSWORD:</div><div class="formListInput"><input ng-model="data.password" type="password" class="text-input" placeholder="Password" /></div>
        </div>
    </div>
    <div style="padding:20px">
        <ons-button modifier="large" id="btnLogIn" ng-click="LogIn()" style="width:100%">LOG IN</ons-button>
        <p>You can login with our loyalty no or your cell phone no.  If your contact details are not up to date, you may experience login problems.  Please phone: <a href="tel:0860624252">0860 624252</a>.</p>
        <p>If you can’t remember your password, please click the “Reset your Password” button and follow the easy prompts.</p>
        <button class="button--large--cta" onclick="myNavigator.pushPage('views/resetpassword.html', { animation : 'slide' } )" >Reset your Password</button>
        <br /><br />
        <!--<button class="button--large--cta" onclick="myNavigator.pushPage('views/updatepassword.html', { animation : 'slide' } )" >Update your Password</button>-->
    </div>
</ons-page>