<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Promotions</div>
        <div class="right"></div>
    </ons-toolbar>
    <ons-row align="center">
        <ons-col size="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col size="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <div style="padding:0 20px">
        <p>There are many ways for you to stay on TOP of things @ Mahala or to test drive our deals:</p>
        <p>
            <ons-button modifier="quiet" >Sign-up</ons-button> for 1 FREE trial month<br>
            <ons-button modifier="quiet" onclick="window.open('https://www.facebook.com/mahalaloyalty','_system','')">Like</ons-button> our Facebook Page<br>
            <ons-button modifier="quiet" ng-click="">Share</ons-button>Share our wonderful news
        </p>
        <a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a>
    </div>
    <h2 class="myHeader"><span>PROMOTIONS</span></h2>
    <div ng-bind-html="promoPage"></div>
</ons-page>