<ons-page>
    <ons-toolbar>
        <div class="left">
            
        </div>
        <div class="center">TERMS & CONDITIONS</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="images/sub_header.png" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>TERMS & CONDITIONS</span></h2>
    <div style="padding: 0 20px;">
        <p>The Loyalty Programme is powered by The Mahala Loyalty Programme (PTY) Ltd, Registration no: 2001/030145/07.  Mahala is an authorised financial services provider: FSP Number: 21961. <strong>For more information, phone 0860 MAHALA (62 42 52) or 084 196 FREE (3733). <i>Mahala Loyalty Programme is herein referred to as “MLP”.</i></strong></p>
        <p>The following terms and conditions are applicable regarding your loyalty membership:</p>
        <p><strong>1) Mahala Membership</strong></p>
        <p>a) Anyone can, upon application in the prescribed format, provided that the individual is 18 years or older, become a member of MLP.</p>
        <p>b) MLP has the right to accept or refuse membership at its sole discretion.</p>
        <p>c) The MLP is open only to individuals of 18 years or older, who can form legally binding contracts. No legal entities may become members.</p>
        <p>d) As soon as we have received and processed your membership successfully, we will deliver your MLP membership information to the specified delivery address on your application form or which was provided to MLP on your behalf and with your full consent and knowledge by the Distribution Agent and/or MLP.</p>
        <p>e) Your details will be entered into our MLP database and utilized by Mahala and its appointed partners to maximize your benefit derived from participation in the MLP.</p>
        <p>f) Participation in the programme constitutes automatic inclusion in all MLP’s promotional communication via email, SMS and Telephone call.  Should the Participant / Member wish to be excluded him/herself from such communication he/she should expressly make such intentions known either by contacting the MLP call centre on 084 196 (FREE) 3733 or by opting out on SMS communication or unsubscribing from the MLP newsletter, or by sending an email to info@mahalas.co.za requesting such exclusion.</p>
        <p>g) Upon successfully unsubscribing from such communication the member exempts MLP from any form of loss or damage they may occur as direct or indirect result of not receiving such communication.</p>
        <p>h) The member’s membership can only be used at participating MLP Partners/Retailers, and cannot be used as a credit or debit card.</p>
        <p>i) The card is not transferable. You can only register in one name and have one membership.</p>
        <p>j) MLP reserves the right to discontinue the membership of any member who uses the Programme in a manner inconsistent with these terms and conditions or any laws.</p>
        <p>k) MLP failure to enforce any of these terms and conditions shall not constitute a waiver of that or any other condition.</p>
        <p>l) These terms and conditions are governed by and interpreted under the laws of South Africa.</p>
        <p>m) Mahala has personal indemnity & fidelity insurance to the value of R1 000 000 under policy number K/FIN/11/0693</p>
        <p>n) In the event of the member status moving to inactive or unpaid, MLP will notify the member via SMS and the monthly MLP administration fee will be debited to their points account until such time as their point balance reaches zero.  In this period the member may utilize their points in the normal fashion.  Once the inactive / unpaid member’s point balance reaches zero, the member’s membership will be terminated from the programme automatically. </p>
        <p><strong>2) Points/Points Accrual, Conversion & Redemption</strong></p>
        <p>a) You will be rewarded with a point for approximately every R10 you spend however, points accumulation remains subject to each partner’s rebate system & community programme structure.</p>
        <p>b) Earnings under the MLP are not transferable, cannot be ceded or assignable for any reason whatsoever, including, but not limited to, the death of a member.</p>
        <p>c) If you have reached a total amount of 1000 points you can redeem / trade your points by phoning the MLP contact centre @ 084 196 (FREE) 3733 or redeeming your points through the mobile platform.</p>
        <p>d) In the event that a transaction that earns points for the member is reversed, the members' account will be debited with the points earned.</p>
        <p>e) Points accrued have no value outside of the MLP.</p>
        <p>f) A maximum of 5 transactions are allowed at one (1) retailer within 24-hour period.</p>
        <p>g) Points transactions above R500 may need to be verified by MLP.</p>
        <p>h) MLP administrates the programme and the retailer provides and is responsible for the rebate/discount. Mahala assumes no liability in the event of the retailer not making payment for the rebate they provide.  MLP will notify you via SMS and the unpaid points will be reversed accordingly.</p>
        <p><strong>3) Use of the Mahala Loyalty Card & MLP Benefit</strong></p>
        <p>a) Present your MLP membership card / voucher at listed MLP Points Partners/Retailers at the pay point every time you make a purchase to earn points for a transaction or follow the instructions on the mobile platform. </p>
        <p>b) Failure to present your membership card / voucher during the transaction will inevitably result failure to earn the points for the transaction because the points cannot be recorded and therefore points cannot be given. Each point is worth R0.10 (10 cents).</p>
        <p>c) Some Points Partners/Retailers require registration through the Mahala Call Centre.  These Partners/Retailers are listed specifically on the Mahala website or a list of these can be obtained by calling the Mahala Call Centre. No points accumulation can be claimed if not registered through the Mahala Call Centre.</p>
        <p>d) Points cannot be claimed retrospectively.</p>
        <p>e) MLP can only report on the discounts that the member recorded on the discount voucher displayed through the MLP mobile platform.</p>
        <p><strong>4) MLP Partner Network</strong></p>
        <p>a) MLP may add or remove Loyalty Partners/Retailers from the MLP at any time, the updated list will always be available on the mobile voucher platform or on the MLP web site and /or can be obtained through the MLP Call Centre.</p>
        <p>b) In the event that a Loyalty Partner is removed from the MLP, the member will retain any/all Points earned at the partner prior to such removal becoming effective.</p>
        <p>e) MLP points and discounts from participating Partners/Retailers are not redeemable for cash.</p>
        <p>f) Discounts are subject to each partner’s terms and conditions as published on the MLP website and mobile platform.</p>
        <p>g) The MLP is not responsible for any incorrect or inaccurate information recorded or provided by any third party to the service offering.</p>
        <p>h) The MLP shall not be responsible for any failure of services for any cause beyond the control of MLP.</p>
        <p><strong>5) Mahala Competitions & Promotions:</strong></p>
        <ol>
            <li>The competition is open to all residents of South Africa aged 18 years and older except employees of MLP and their close relatives and anyone otherwise connected with the organisation or judging of the competition.</li>
            <li>There is no entry fee and no purchase necessary to enter this competition. </li>
            <li>By entering this competition, an entrant is indicating his/her agreement to be bound by these terms and conditions.</li>
            <li>Only one entry will be accepted per person. Multiple entries from the same person will be disqualified.</li>
            <li>Closing date for entry will be stipulated on the relevant competition / promotion. After this date no further entries to the competition will be permitted.</li>
            <li>No responsibility can be accepted for entries not received for whatever reason.</li>
            <li>The rules of the competition and how to enter are as follows:<br />You can enter through the Mahala website (www.mahalas.co.za), Mahala mobi site (www.mahala.mobi) or on our social media channels (Facebook and Twitter).</li>
            <li>Mahala Loyalty Programme reserves the right to cancel or amend the competition and these terms and conditions without notice in the event of a catastrophe, war, civil or military disturbance, act of God or any actual or anticipated breach of any applicable law or regulation or any other event outside of the promoter’s control. Any changes to the competition will be notified to entrants as soon as possible by the promoter.</li>
            <li>The promoter is not responsible for inaccurate prize details supplied to any entrant by any third party connected with this competition.</li>
            <li>Winners will be announced via ‘Mahala Loyalty Programmes’ Facebook page, email and per telephone.</li>
            <li>The promoter’s decision in respect of all matters to do with the competition will be final and no correspondence will be entered into.</li>
            <li>By entering this competition, an entrant is indicating his/her agreement to be bound by these terms and conditions.</li>
            <li>This promotion is in no way sponsored, endorsed or administered by, or associated with, Facebook, Twitter or any other Social Network. You are providing your information to MLP  and not to any other party.</li>
            <li>Quaterly Cash Prize Draw:  Included in a variety of Mahala product packages / clubs. Cash prize will be paid out to a lucky winner every quarter through the Quarterly Prize draw initiative. The prize money grows with the relevant membership total of the relevant product package / club. Mahala will pay-out R5 000 for every 1000 members that join the relevant product package / club on a quarterly basis.  The membership variables may change at any time and dertermined by MLP solely.  Any changes to the benefit will be communicated to the affected members through eletronic communication.</li>
        </ol>
        <p><strong>6) Mahala Competitions & Promotions:</strong></p>
        <p><strong>6.1  EDCON Viral Vouchers Terms & Conditions: </strong><br />(includes the following Brands: Edgards, Edgars Active, Jet, Jetmart, Red Square, CNA & Boardmans)</p>
        <ul>
            <li>Vouchers are valid in South Africa only.</li>
            <li>Vouchers may not be used together with any promotion or special offer.</li>
            <li>Valid against regular priced merchandise only.</li>
            <li>Vouchers cannot be used to purchase airtime, data, gift cards or to pay your account. </li>
            <li>Vouchers cannot be used to purchase cellular products (handsets) Laptops, Printers, Digital Devices or Gaming Consoles.</li>
            <li>Physical or sms vouchers must be produced in store to qualify.</li>
            <li>Only one voucher may be redeemed per transaction.</li>
            <li>Vouchers may only be redeemed once.</li>
            <li>No change will be given against any discount vouchers.</li>
            <li>Vouchers cannot be exchanged for cash equivalent.</li>
            <li>Vouchers may not be used on returned items.</li>
            <li>Vouchers are in English to facilitate ease of use at tills. </li>
        </ul>
        <p><strong>6.2  EDCON Physical Gift Card terms and conditions: </strong><br />(includes the following Brands: Edgards, Edgars Active, Jet, Jetmart, Red Square, CNA & Boardmans)</p>
        <ul>
            <li>The bearer of the Gift Card may use the Gift Card to purchase merchandise from any Edgars, Edgars Active, Red Square, Jet, JetMart, Boardmans and CNA stores.</li>
            <li>The Gift Card is valid for a period of 3 years from date of activation or upon full redemption thereof, whichever occurs first. If such gift card has been topped-up, it will remain valid for a period of 3 years from date of top-up or upon full redemption thereof (whichever occurs first) irrespective of the date of activation.</li>
            <li>The Gift Card may not be 
                <ul>
                    <li>used for the payment of an Edcon account; 
                    <li>exchanged for cash; or 
                    <li>used to purchase airtime.
                </ul>
            </li>
            <li>No cash change will be given on purchases made with the Gift Card.</li>
            <li>For security reasons, this Gift Card should be kept in a safe place. If stolen, it may still be used to make unauthorised/fraudulent purchases. </li>
            <li>Lost or stolen Gift Cards will not be replaced or refunded. However, if you are in possession of the Gift Card number, you can call the Edcon Gift Card Centre on 0860 692 274 to report it lost or stolen. We will then block the remaining amount on the Gift Card and transfer it to another Gift Card, available when you next visit any Edcon Store.</li>
            <li>Gift Card balances can be checked in-store at a till point or by calling the Edcon Gift Card Call centre on 0860 692 274.</li>
        </ul>
        <p><strong>6.3  EDCON Electronic Gift Card terms and conditions: </strong><br />(includes the following Brands: Edgards, Edgars Active, Jet, Jetmart, Red Square, CNA & Boardmans)</p>
        <ul>
            <li>An electronic gift card is an SMS version of the existing gift card and the following additional terms apply:</li>
            <li>If the full value of your Electronic Gift Card is not used on your first purchase, the balance will be transferred to a physical Gift Card.</li>
            <li>The Electronic Gift Card cannot be topped up or be SMS’d to someone else. </li>
            <li>Should the Electronic Gift Card be deleted or the Customer’s cellphone lost/stolen, Edcon will be not be liable for any reimbursement of any nature. The SMS can be resent, but only to the original number.</li>
            <li>The usage of the Electronic Gift Card is solely at the risk and discretion of the Customer.</li>
            <li>Edcon will not be held responsible for any cellular network service operator's delay in forwarding an Electronic Gift Card to you.</li>
            <li>The Electronic Gift Card will only be accepted if a valid Electronic Gift Card number in SMS format is presented to the cashier.</li>
        </ul>
    </div>
    <ons-list>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/mdis.html', { animation : 'slide' } );">
            Mahala Disclosures
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/tbfsdis.html', { animation : 'slide' } );">
            TBFS Disclosures
        </ons-list-item>
    </ons-list>
</ons-page>


