<ons-page>
    <ons-toolbar>
        <div class="left">
            
        </div>
        <div class="center">TERMS & CONDITIONS</div>
        <div class="right">
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="images/sub_header.png" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>TERMS & CONDITIONS</span></h2>
    <div style="padding: 0 20px;">
        <p>The Loyalty Programme is powered by The Mahala Loyalty Programme (PTY) Ltd, Registration no: 2001/030145/07, FSP Number: 21961. Mahala Loyalty Programme is herein referred to as “MLP”</p>
        <p>The policy holder’s and / or member’s participation in the Mahala Loyalty Programme constitutes its acceptance of the following Terms and Conditions:</p>
        <p><strong>1) Mahala Membership</strong></p>
        <p>a) Anyone can, upon application in the prescribed format, provided that the individual is 18 years or older, become a member of MLP.</p>
        <p>b) MLP has the right to accept or refuse membership at its sole discretion.</p>
        <p>c) The MLP is open only to individuals of 18 years or older, who can form legally binding contracts. No legal entities may become members.</p>
        <p>d)  As soon as we have received and processed your application successfully, we'll post your MLP membership card and welcome pack to the postal address specified on your application form or which was provided to MLP on your behalf and with your full consent and knowledge by your community official.</p>
        <p>e) Your details will be entered into our MLP database and utilized by Mahala and its appointed partners to maximize your benefit derived from participation in the MLP.</p>
        <p>f) Participation in the programme constitutes automatic inclusion in all MLP’s promotional communication via email, SMS and Telephone call. Should the Participant / Member wish to be excluded him/herself from such communication he/she should expressly make such intentions know either by contacting the MLP call center on 084 196 (FREE) 3733 or by opting out on SMS communication or unsubscribing from the MLP newsletter, or by sending an email to  info@mahalas.co.za requesting such exclusion.</p>
        <p>g) Upon successfully unsubscribing from such communication the member exempts MLP from any form of loss or damage they may occur as direct or indirect result of not receiving such communication.</p>
        <p>h) The member’s membership card can only be used at participating MLP partners, and cannot be used as a credit or debit card.</p>
        <p>i) The card is not transferable. You can only register in one name and have one membership.</p>
        <p>j) MLP reserves the right to discontinue the membership of any member who uses the Programme in a manner inconsistent with these terms and conditions or any laws.</p>
        <p>k) MLP failure to enforce any of these terms and conditions shall not constitute a waiver of that or any other condition.</p>
        <p>l) These terms and conditions are governed by and interpreted under the laws of South Africa.</p>
        <p>m) Mahala has personal indemnity insurance to the value of R1 000 000 under policy number K/FIN/11/0693</p>
        <p>n) In the event of the member status moving to inactive or unpaid, the monthly MLP administration fee will be debited to their points account until such time as their point balance reaches zero.  In this period the member may utilize their points in the normal fashion.  Once the inactive / unpaid member’s point balance reaches zero, the member’s membership will be terminated from the programme automatically. </p>
        <p><strong>2) Mahalas/Points Accrual, Conversion & Redemption</strong></p>
        <p>a)  You will be rewarded with a point for approximately every R10 you spend however, points accumulation remains subject to each partner’s rebate system & community programme structure.</p>
        <p>b)  Earnings under the MLP are not transferable, cedable or assignable for any reason whatsoever, including, but not limited to, the death of a member.</p>
        <p>c) If you have reached a total amount of 1000 points / mahalas you can redeem / trade your mahalas by phoning the MLP contact centre @ 084 196 (FREE) 3733.</p>
        <p>d) In the event that a transaction which earns points for the member is reversed the members' account will be debited with the points earned.</p>
        <p>e) Points accrued have no value outside of the MLP.</p>
        <p><strong>3) Use of the Mahala Loyalty Card & MLP Benefit</strong></p>
        <p>a)  Present your MLP membership card at listed MLP Points Partners at the checkout / pay point every time you make a purchase to earn points for a transaction. </p>
        <p>b)  Failure to present your membership card during the transaction will inevitably result failure to earn the points for the transaction because the points cannot be recorded and therefore points cannot be given. Points will be converted into 'mahalas'.</p>
        <p>c) Some Points Partners require registration through the Mahala Call Centre.  These Partners are listed specifically on the Mahala website or a list of these can be obtained by calling the Mahala Call Centre. No points accumulation can be claimed if not registered through the Mahala Call Center.</p>
        <p>d) Points cannot be claimed retrospectively.</p>
        <p><strong>4) MLP Partner Network</strong></p>
        <p>a) MLP may add or remove Loyalty Partners from the MLP at any time.</p>
        <p>b) Changes to the MLP are recorded on the MLP website www.mahalas.co.za and can be obtained by contacting the MLP Call Center.</p>
        <p>c) It is the member’s responsibility to ensure that he/she keeps updated with the use and partner network of the MLP Programme.</p>
        <p>d) In the event that a Loyalty Partner is removed from the MLP, the member will retain any/all Mahalas earned at the partner prior to such removal becoming effective.</p>
        <p>e) MLP points and discounts from participating partners are not redeemable for cash.</p>
        <p>f) Discounts are subject to each partner’s terms and conditions as published on the MLP website and discount voucher provider/s.</p>
        <p>g) The MLP is not responsible for any incorrect or inaccurate information recorded or provided by any third party to the service offering.</p>
        <p>h) The MLP shall not be responsible for any failure of services for any cause beyond the control of MLP.</p>
    </div>
    <ons-list>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/mdis.html', { animation : 'slide' } );">
            Mahala Disclosures
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/tbfsdis.html', { animation : 'slide' } );">
            TBFS Disclosures
        </ons-list-item>
    </ons-list>
</ons-page>


