<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Products</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="imgBlock hideablePro" style="display: block;"><img src="images/app_header1.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideablePro" style="display: none;"><img src="images/app_header2.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideablePro" style="display: none;"><img src="images/app_header3.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideablePro" style="display: none;"><img src="images/app_header4.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideablePro" style="display: none;"><img src="images/app_header5.png" style="max-width: 800px; width: 100%;" /></div>
        <div class="imgBlock hideablePro" style="display: none;"><img src="images/app_header6.png" style="max-width: 800px; width: 100%;" /></div>
    </div>
    <ons-list>
        <ons-list-item onclick="myNavigator.pushPage('views/join/perks.html', { animation : 'lift' } )">
            <img src="images/Mahala_Perks.png" style="max-width: 800px; width: 100%;" />
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/silver_gold.html', { animation : 'lift' } )">
            <img src="images/Mahala_funeral.png" style="max-width: 800px; width: 100%;" />
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/workers.html', { animation : 'lift' } )">
            <img src="images/Mahala_Workers.png" style="max-width: 800px; width: 100%;" />
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/charity.html', { animation : 'lift' } )">
            <img src="images/Mahala_Charity.png" style="max-width: 800px; width: 100%;" />
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/student_plan.html', { animation : 'lift' } )">
            <img src="images/Mahala_student.png" style="max-width: 800px; width: 100%;" />
        </ons-list-item>
        <ons-list-item onclick="myNavigator.pushPage('views/join/travel.html', { animation : 'lift' } )">
            <img src="images/Mahala_travel.jpg" style="max-width: 800px; width: 100%;" />
        </ons-list-item>
    </ons-list>
</ons-page>