<ons-page>
    <ons-toolbar ng-style="{'background-color':topbarBG}">
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Coupons</div>
        <div class="right"></div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="{{subBanner}}" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <ons-row align="center">
        <ons-col width="90%"><div class="formListInputLrg"><input type="search" class="search-input" ng-model="data.quickSearch" placeholder="Quick search for a shop / deal"></div></ons-col>
        <ons-col width="10%"><ons-button ng-click="quickSearch()"><ons-icon icon="fa-search"></ons-button></ons-col>
    </ons-row>
    <h2 class="myHeader"><span>COUPONS</span></h2>
    <div style="padding: 0 20px;">
        <p><strong>How to use your Coupons:</strong></p>
        <ol>
            <li>Scroll down and view the Coupons available.</li>
            <li>Select the desired Coupons.</li>
            <li>Click on the icon in the bottom right to view your Coupon Codes.</li>
            <li>Your Coupons Codes will display for each product to show the Cashier when you pay.</li>
            <li>You can send your Coupon Codes to yourself or a friend, they are valid for a full calendar month.</li>
        </ol>
        <div><a href="#" onclick="myNavigator.pushPage('views/feedback.html', { animation : 'lift' } )">Problems?</a></div>
        <img src="{{topCoupBan}}" style="max-width: 380px; width: 100%;" />
        <!--<ons-button modifier="large" id="btnLogIn" ng-click="getCheckersCouponCode()" style="width:100%">MY COUPON CODE<br><small>Click here to generate your unique Coupon Code,<br>display this code to your cashier when you pay.</small></ons-button>-->
    </div>
    <ons-list>
        <ons-list-item modifier="couponList" class="list-item-container list__item--tappable" ng-repeat="coupon in couponList.coupons" ng-click="getCheckersCouponCode(coupon.id)">
            <ons-row>
                <ons-col width="95px">
                    <img src="{{coupon.image_path}}" class="thumbnail">
                </ons-col>
                <ons-col>
                    <div style="text-align: left;">
                        <span style="font-size: 18px; font-weight: bold; color: #c82126;">{{coupon.name}}</span>
                    </div>
                    <div class="desc" style="text-align: left;">
                        <small>{{coupon.message_copy}}</small>
                    </div>
                </ons-col>
                <ons-col width="40px"><ons-icon style="color: #ce282c;" icon="md-zoom-in"></ons-icon></ons-col>
            </ons-row>
        </ons-list-item>
    </ons-list>
    <ons-speed-dial position="bottom right" direction="up" ng-if="couponCodeList.length > 0">
        <ons-fab ng-click="showCheckersCouponCodes()">
            {{couponCodeList.length}}<small style="font-size: 10px; display: block; margin-top: -18px;">Coupon</small>
        </ons-fab>
    </ons-speed-dial>
    <!--<div style="padding:20px">
        <ons-button modifier="large" id="btnLogIn" ng-click="getCheckersCouponCode()" style="width:100%">MY COUPON CODE<br><small>Click here to generate your unique Coupon Code,<br>display this code to your cashier when you pay.</small></ons-button>
    </div>-->
    <ons-bottom-toolbar ng-style="{'background-color':footerBG}">
        <ons-row vertical-align="center" style="height: 44px">
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/home.html', { animation : 'slide' } )"><ons-icon icon="ion-home"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 25px;" onclick="myNavigator.pushPage('views/socialmedia.html', { animation : 'slide' } )"><ons-icon icon="ion-heart"></ons-icon></ons-col>
            <ons-col vertical-align="center" style="text-align: center; line-height: 44px; font-size: 15px;" ng-click="loadpage(5)">T&C’s</ons-col>
        </ons-row>
    </ons-bottom-toolbar>
</ons-page>