<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Redemptions</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="images/sub_header.png" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>REDEMPTIONS</span></h2>
    <div style="padding:20px">
        <p>You can exchange your points for anything your heart desires!</p>
        <p>Simply phone Mahala on <a href="tel:+27841963733" style="text-decoration: none; color: #C82126;">084 196 3733</a> during office hours to request your redemption.</p>
        <p>You can redeem your points instantly for airtime, just click on the AIRTIME tab below.</p>
        <p>Grocery vouchers and Nu Metro tickets can take up to 24 hours to process and is best to request during office hours.</p>
    </div>
    <ons-list>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/Airtime.html', { animation : 'lift' } ); menu.closeMenu();">
            AIRTIME
        </ons-list-item>
        <!--
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/Electricity.html', { animation : 'lift' } ); menu.closeMenu();">
            ELECTRICITY
        </ons-list-item>
        -->
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/Grocery.html', { animation : 'lift' } ); menu.closeMenu();">
            GROCERIES
        </ons-list-item>
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/user/NuMetro.html', { animation : 'lift' } ); menu.closeMenu();">
            NU METRO
        </ons-list-item>
    </ons-list>
</ons-page>