<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Gold & Silver</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="topBanner">
        <div class="subImgBlock">
            <img src="images/sub_header.png" style="max-width: 380px; width: 100%;" />
        </div>
    </div>
    <h2 class="myHeader"><span>WANT TO JOIN?</span></h2>
    <div class="formShadow">
        <h2 class="myHeader">MAHALA GOLD & SILVER</h2>
        <div style="padding:20px">
            <img src="images/sgHeading.png" style="max-width: 348px; width: 100%;" />
            <br />
            <h2 style="font-weight: normal;">COMPREHENSIVE FAMILY FUNERAL COVER WITH UNIQUE VALUE ADDED BENEFITS!</h2>
            <img src="images/memberShipInfo.png" style="max-width: 348px; width: 100%;" />
            <h3 style="font-weight: normal; border-bottom: 2px dashed #c69a48;">INCLUDE BENEFITS</h3>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/vehicle.png" />
                </ons-col>
                <ons-col>
                    <h4>VEHICLE ACCESS BENEFIT</h4>
                    <span style="color: #C82126;">ALSO INCLUDED IN YOUR ADDITIONAL DEPENDANT FEE</span>
                </ons-col>
            </ons-row>
            <p>In the event of a life assured's death, the surviving family is provided with an Avis Car Rental for a period of 3 days - unlimited mileage, Category C vehicle (Aircon, Powersteering, Airbags, ABS etc.) This benefit must be used within 6 months after the deceased persons death. (Main Member, Principal Partner and Nominated Children Only)</p>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/airtime.png" />
                </ons-col>
                <ons-col>
                    <h4>AIRTIME BENEFIT</h4>
                    <span style="color: #C82126;">ALSO INCLUDED IN YOUR ADDITIONAL DEPENDANT FEE</span>
                </ons-col>
            </ons-row>
            <p>This Benefit provides Cellular airtime to the value of R250 to the surviving family on death of an insured life. (Member, Principal Partner and Nominated Children)</p>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/body.png" />
                </ons-col>
                <ons-col>
                    <h4>AIRTIME BENEFIT</h4>
                    <span style="color: #C82126;">ALSO INCLUDED IN YOUR ADDITIONAL DEPENDANT FEE</span>
                </ons-col>
            </ons-row>
            <p>In the event of a life assured's death greater than 100km from place of burial, Hollard will pay towards the cost of transporting their mortal remains up to R7 500 per incident to a Funeral Home nearest to the place of burial, with a maximum annual limit of R20 000. (Main Member, Principal Partner and Nominated Children)</p>
            <h3 style="font-weight: normal; border-bottom: 2px dashed #c69a48;">VALUE BOOSTER<small style="color: #C82126">OPTIONAL PACKAGE</small></h3>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/advice.png" />
                </ons-col>
                <ons-col>
                    <h4>MEDICAL & LEGAL ADVICE LINE</h4>
                </ons-col>
            </ons-row>
            <p>Medical & Legal Advice Line. Professional legal advisor available to you telephonically 24 hours a day. We can even arrange immediate contact with a reputable practicing lawyer in the event of a crisis. Your membership includes an Initial & FREE half an hour, personal consultation. You also have access to an extensive library of updated legal forms. The medical advice line includes paramedics, nurses and doctors who are available 24 hours a day to provide telephonic medical information and advice. (Member only)</p>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/electricity.png" />
                </ons-col>
                <ons-col>
                    <h4>ELECTROSURE</h4>
                </ons-col>
            </ons-row>
            <p>This Benefit provides prepaid electricity to the value of R250 per month for 3 months to the surviving family.  (Main Member and Principal Partner)</p>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/butchery.png" />
                </ons-col>
                <ons-col>
                    <h4>LOCAL BUTCHERY BENEFIT</h4>
                </ons-col>
            </ons-row>
            <p>In the event of a life assured's death, the beneficiary is provided with a meat-account opened at a local butchery of the beneficiary’s choice with a R3 000 value. Your meat account can be utilized up to 12 months after the incident. (Main Member and Principal Partner)</p>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/uniform.png" />
                </ons-col>
                <ons-col>
                    <h4>SCHOOL UNIFORM BENEFIT</h4>
                </ons-col>
            </ons-row>
            <p>This benefit provides a voucher to the value of R1 500 and will help the children with their basic school uniform needs. (Main Member and Principal Partner)</p>
            <ons-row>
                <ons-col width="80px">
                    <img src="images/veggie.png" />
                </ons-col>
                <ons-col>
                    <h4>VEGGIE BENEFIT</h4>
                </ons-col>
            </ons-row>
            <p>In the event of the covered person's death, the beneficiary is provided with a Checkers voucher to the value R750. To be used at any Checkers nationwide. (Main Member and Principal Partner)</p>
            <h2 style="font-weight: normal; color: #C82126;">OPTIONAL PACKAGE AVAILABLE FOR ONLY R79.95 PER MONTH!</h2>
        </div>
    </div>
    <ons-list class="dropShadow">
        <ons-list-item modifier="chevron" onclick="myNavigator.pushPage('views/enquiery.html', { animation : 'slide' } )">
            ENQUIRE NOW
        </ons-list-item>
    </ons-list>
</ons-page>