<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-back-button>Back</ons-back-button>
        </div>
        <div class="center">Mahala Exceed</div>
        <div class="right">
            <ons-toolbar-button ng-click="menu.toggle()">
                <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <img src="images/mahala_exceed_top.jpg" style="max-width: 800px; width: 100%;" />
    <img src="images/mahala_exceed_packages.jpg" style="max-width: 800px; width: 100%;" />
    <img src="images/mahala_exceed_benefite.jpg" style="max-width: 800px; width: 100%;" />
</ons-page>