/* top banner */
.topBanner {
  color: white;
  /*height: 250px;*/
  text-align: center;
}

.imgBlock {
    text-align: center;
    position: relative;
    z-index: -1;
    margin-bottom: -5px;
}

.subImgBlock {
    border-bottom: 2px dashed #c69a48;
    text-align: center;
}

/*list items*/
.list__item {
    text-align: center;
}
.list__item--chevron {
    box-shadow: 0px -5px 10px -1px rgba(187,187,187,1);
    text-align: center;
    font-weight: bold;
    color: #96989a;
}

/*partner list*/
.list__item--partnerList {
    box-shadow: none;
    text-align: left;
}

.list > .list-item-container {
    line-height: 1;
    padding: 15px 0px 15px 15px;
}

.thumbnail {
    width: 80px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #eee;
}

.name {
    font-weight: bold;
    line-height: 16px;
    font-size: 15px;
    margin-bottom: 5px;
}

.location {
    font-size: 14px;
    opacity: 0.4;
    margin-bottom: 5px;
}

.desc {
    line-height: 1.2;
    font-size: 12px;
    font-style: italic;
}

.myHeader {
    font-size: 25px;
    font-weight: normal;
    color: #6f6f6f;
    text-align: center;
}

.myHeader span {
    border-bottom: 1px solid #C82126;
}

.listHeadings {
    margin: 0;
    font-weight: normal;
    text-align: left;
    padding: 15px;
}

/*form style*/
.formShadow {
    box-shadow: 0px 0px 10px 5px rgb(187, 187, 187);
}

.formList {
    height:40px; 
    display: block; 
    box-shadow: 0px -5px 10px -1px rgba(187,187,187,1); 
    padding: 10px 20px;
}

.formListLrg {
    height: 60px;
    display: block;
    /* box-shadow: 0px -5px 10px -1px rgba(187,187,187,1); */
    padding: 10px 20px;
}

.formListInputLrg {
    float: none;
    line-height: 40px;
    width: 100%;
}

.formListLable {
    float:left; 
    line-height: 40px;
    font-size: 14px;
}

.formListRight {
    float:right; 
    line-height: 40px; 
}

.formListInput {
    float:right; 
    line-height: 40px; 
    width: 60%;
}

.formListInput > input[type=text], input[type=password], input[type=number], select {
    border-radius: 0px;
    background: #eee;
    border-color: #eee;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    width:100%; 
    vertical-align: middle
}

.formListInputLrg > input[type=text], input[type=password], input[type=number], select {
    border-radius: 0px;
    background: #eee;
    border-color: #eee;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    width:100%; 
    vertical-align: middle
}

/*side menu*/
.page--menu-page__content {
    background-color: #bbb;
}

/*tab bar alignment*/
.tab-bar__item {}

.tab-bar__button--tabbar-right {
    text-align: right;
    padding-right: 10px;
}

.tab-bar__button--tabbar-left{
    text-align: left;
    padding-left: 10px;
}

/* slide show*/
.hideable {
    display: none;
}

.button-bar__button {
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    background-color: rgba(200,33,38,1);
    color: #fff;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
}

.button-bar__item.active > .button-bar__button, :checked + .button-bar__button {
    background-color: rgba(200,33,38,0.80);
    color: #000;
}

.navigation-bar {
    background: rgba(200,33,38,1);
}

.navigation-bar__title {
    color: #fff;
}

.toolbar-button, .toolbar-button--outline, .toolbar-button--quiet {
    color: #fff;
}

.tab-bar {
    background-color: #c69a48;
}

.tab-bar__button {
    color: #fff;
}
.tab-bar__button > .tab-bar__icon {
    text-align: left;
    padding-left: 10px;
}

.tab-bar__button > .tab-bar__label {
    text-align: right;
    padding-right: 10px;
}

:checked + .tab-bar__button > .tab-bar__icon {
    color: #594621;
}

:checked + .tab-bar__button {
    color: #594621;
}

.button {
    background: rgba(200,33,38,1);
}

.button-bar__button {
    border: none;
}

.checkbox > input[type="checkbox"]:checked {
    background: rgba(200,33,38,0.81);
}

.checkbox > .checkbox__checkmark:before {
    border: 1px solid rgba(200,33,38,0.81);
}

.checkbox > input[type="checkbox"]:checked + .checkbox__checkmark:before {
    background: rgba(200,33,38,0.81);
    border: 1px solid rgba(200,33,38,0.81);
}

.radio-button > input[type="radio"]:checked {
    background: rgba(200,33,38,0.81);
}

.radio-button > .radio-button__checkmark:before {
    border: 1px solid rgba(200,33,38,0.81);
}

.radio-button > input[type="radio"]:checked + .radio-button__checkmark:before {
    background: rgba(200,33,38,0.81);
    border: 1px solid rgba(200,33,38,0.81);
}

.button-bar__item:first-child > .button-bar__button {
    border-left: 1px solid rgba(255,255,255,0.77);
    border-right: 1px solid rgba(255,255,255,0.77);
}

.button--large--cta {
    background-color: #6c6c6c;
}

.button--large--quiet {
    color: rgba(200,33,38,1);
}

.centerContent {
    text-align: center;
}

.row-center {
    text-align: center;
}